:root {
  --header_blue: #0095a9;
  --white: #ffffff;
  --sidebar-bg: #ffffff;
  --logo-bg: #ebfdff;
  --purple: #8191c9;
  --light-grey: #6e7787;
  --large-text: #171a1f;
  --smaller-text: #171a1f;
  --response-bg: #12a9bc;
  --ai-chat: #0095a9;
  --option-color: #58606e;
}
