:root {
  --cont-backgroud: #323842;
  --background: #171a1fff;
  --grey: #9095a0;
  --blue: #4069e5;
}

/* sign container styling */
.sign_page_conainter {
  height: 100vh;
  background-color: var(--cont-backgroud);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sign_page_header {
  margin-right: auto;
}

/* sign_page_content styling */
.sign_page_content {
  background-color: var(--background);
  padding: 3rem 1rem;
  display: flex;
  width: 45%;
  height: auto;
  flex-direction: column;

  align-items: center;
}
.sign_page_content h1 {
  font-weight: 700;
  color: white;
  font-size: 24px;
}
.sign_page_content h2 {
  font-size: 16px;
  color: white;
  font-weight: 400;
  margin-top: 0.4rem;
}

/* sign_form_container styling */
.sign_form_container {
  margin-top: 3rem;
  width: 50%;
}
.sign_form_container .sign_form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.sign_form .form_group {
  display: flex;
  flex-direction: column;
}
.sign_form .inputfeild_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* input styling */
.inputcontainer {
  position: relative;
}

.inputcontainer span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}
.inputcontainer span i {
  color: var(--grey);
}
.inputcontainer input {
  width: 100%;
  color: white;
  background: transparent;
  border-radius: 0.3rem;
  border: 1px solid white;
  padding: 0.6rem 30px;
}
.inputcontainer input::placeholder {
  color: var(--grey);
}
/* forgo_password_container stylng */
.forgo_password_container {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
}
.forgo_password_container .remember_me {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.remember_me label {
  font-size: 0.8rem;
  color: white;
}
.forgo_password_container p {
  font-size: 0.8rem;
  color: var(--grey);
}
/* btn styling */
.btn_login {
  padding: 0.6rem;
  margin-top: 3.5rem;
  cursor: pointer;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 0.3rem;
}

footer p {
  color: white;
  font-size: 0.9rem;
}

@media (max-width:1024px) {
  /* sign_page_content styling */
  .sign_page_content{
    width: 70%
    ;
  
  }
}
@media (max-width:800px) {
  .sign_page_header .logo_container img{
    width:12rem;
  }
    /* sign_page_content styling */
    .sign_page_content{
      width: 60%;
      height: auto;
      padding: 2rem 1rem;
    }
    .sign_page_content h1{
      font-size: 1.1rem;
    }
    .sign_page_content h2 {
      font-size: .9rem;
    }
    /* sign_form_container styling */
    .sign_form_container{
      width: 70%;
      margin-top: 2rem;
    }
}

@media (max-width:500px) {
  .sign_page_header .logo_container img{
    width:11rem;
  }
  .sign_page_content{
    width: 90%;
    padding:  1rem;
  }
  .sign_page_content h1{
    font-size: 1rem;
  }

  /* sign_form_container styling */
  .sign_form_container{
    width: 90%;
    margin-top: 1rem;
  }
  /* input styling */
  .inputcontainer span i {
    font-size:.9rem
  }
  .inputcontainer input::placeholder{
font-size:.7rem;
  }
  /* forgo_password_container stylng */
  .remember_me label,.forgo_password_container p{
    font-size: .7rem;
  }
/* btn styling */
.btn_login {
  margin-top: 3rem;
}
/* foooteer */
footer p{
  font-size: .7rem;
}
}

@media (max-width:400px) {
  .sign_page_header .logo_container img{
    width:10rem;
  }
  .sign_page_content{
    width: 98%;
  
    padding:  1rem;
  }

  /* sign_form_container styling */
  .sign_form_container{
    width: 98%;
  }
  /* input styling */
  .inputcontainer span i {
    font-size:.9rem
  }
  .inputcontainer input::placeholder{
font-size:.7rem;
  }
  /* forgo_password_container stylng */
  .remember_me label,.forgo_password_container p{
    font-size: .7rem;
  }
/* btn styling */
.btn_login {
  margin-top: 2.5rem;
}
}

@media (max-width:350px) {

  .sign_page_header .logo_container img{
    width:9rem;
  }
  .sign_page_content{
    width: 100%;

  padding:  1rem;
  }
  .sign_page_content h1{
    font-size: .9rem;
  }
  .sign_page_content h2 {
    font-size: .7rem;
  }
  /* sign_form_container styling */
  .sign_form_container{
    width: 98%;
    margin-top:1.3rem;
  }
  /* input styling */
  .inputcontainer span i {
    font-size:.9rem
  }
  .inputcontainer input::placeholder{
font-size:.7rem;
  }
  /* forgo_password_container stylng */
  .remember_me label,.forgo_password_container p{
    font-size: .7rem;
  }
/* btn styling */
.btn_login {
  margin-top: 2.5rem;
  font-size:.7rem;
}
}